# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# folder
01_insertar_usuarios.sql
/supabase/
datos_reservas_finales.sql
datos_simulation_results.sql
datos_simulation_timeseries.sql
README.md

reservas_data_corregido.sql
reservas_data_fixed.sql
fix_bucket_public.sql
diagnostico_storage.sql
RUTAS_DASHBOARD.md

